/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common style or utilities */
body {
  margin: 0%;
  padding: 0%;
}
.color-design {
  background-color: goldenrod;
}
.div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mystyle {
  background-color: honeydew;
  margin: 5px, 0px;
  box-shadow: hotpink;
  padding: 10px;
  margin: 10 px;
}
